:root {
    --darkColor: #230E15;
    --darkColor80:#4F3E44;
    --darkColor60: #7B6E73;
    --darkColor40: #A79FA1;
    --darkColor20: #D3CFD0;
    --middleColor: #5B1B3D;
    --middleColor80: #7C4964;
    --middleColor60: #9D768B;
    --middleColor40: #BDA4B1;
    --middleColor20: #DED1D8;
    --lightColor: #A61B25;
    --lightColor80: #B84951;
    --lightColor60: #CA767C;
    --lightColor40: #DBA4A8;
    --lightColor20: #EDD1D3;
}

/* KEYFRAMES */

@keyframes swipeCenter {
    from {
        opacity: 0;
        scale: 0;
    }
    
    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes swipeCenter--reverse {
    0% {
        opacity: 1;
        scale: 1;
    }
    
    99% {
        opacity: 0;
        scale: .75;
    }

    100% {
        scale: 0;
    }
}

@keyframes rotate360 {
    0% {
        scale: 1;
        rotate: 0;
    }

    50% {
        scale: .75;
    }

    100% {
        scale: 1;
        rotate: 360deg;
    }
}

@keyframes rotate360--reverse {
    0% {
        scale: 1;
        rotate: 0;
    }

    50% {
        scale: .75;
    }

    100% {
        scale: 1;
        rotate: -360deg;
    }
}

/* HEADER */

#header {
    position: fixed;
    z-index: 1000;
    display: grid;
    grid-template-columns: 140px 1fr;
    grid-template-rows: 75px;
    align-items: center;
    gap: 25px;
    width: 100%;
    background-color: var(--lightColor20);
    padding: 0 3.5%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    font-family: 'Raleway';
    font-weight: 500;
    color: var(--darkColor);
}

.header__logoName {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header__nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4px;
    height: 100%;
}

.header__links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.link-content {
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
    height: calc(100% + 8px);
    padding: 4px 3.5% 0;
    text-decoration: none;
    cursor: pointer;
}

.link-content:hover {
    background: rgba(0, 0, 0, 0.05);
}

.link-content:link,
.link-content:visited {
    color: var(--darkColor);
}

.link-content__name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.cart-shoppinglist {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 18.5px;
    height: 18.5px;
    border-radius: 18.5px;
    background: var(--lightColor);
    color: #FFF;
    font-size: 9px;
    font-family: 'Lato';
}

.header__indicator {
    position: relative;
    z-index: 1100;
    display: grid;
    grid-template-columns: 75.4px 112.6px 113.5px 70.9px 104.3px;
    grid-template-rows: 4px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 7%;
    transition: grid-template-columns .5s;
}

.header__indicator--index0 {
    grid-template-columns: calc(75.4px + 7%) 112.6px 113.5px 70.9px 104.3px;
}

.header__indicator--index1 {
    grid-template-columns: 75.4px calc(112.6px + 7%) 113.5px 70.9px 104.3px;
}

.header__indicator--index2 {
    grid-template-columns: 75.4px 112.6px calc(113.5px + 7%) 70.9px 104.3px;
}

.header__indicator--index3 {
    grid-template-columns: 75.4px 112.6px 113.5px calc(70.9px + 7%) 104.3px;
}

.header__indicator--index4 {
    grid-template-columns: 75.4px 112.6px 113.5px 70.9px calc(104.3px + 7%);
}

.barindicator {
    width: 0;
    height: 100%;
    background: transparent;
}

.indicator--active {
    width: 100%;
    border-radius: 5px 5px 0 0;
    background: var(--lightColor);
    transition: width .5s;
}

.header__burgerMenu {
    justify-self: flex-end;
    cursor: pointer;
}

.rotate360 {
    animation-name: rotate360;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-fill-mode: forwards;
}

.rotate360-rvrs {
    animation-name: rotate360--reverse;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-fill-mode: forwards;
}

/* MAIN */

#main {
    position: relative;
    top: 75px;
    transition: opacity .5s;
}

.main--modal {
    opacity: .25;
}

/* FOOTER */

#footer {
    position: relative;
    top: 75px;
    display: grid;
    grid-template-columns: 4fr 1px 1fr;
    grid-template-rows: 1fr;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 50px 3.5%;
    background-color: var(--darkColor40);
    font-family: 'Raleway';
    color: var(--darkColor);
}

.footer__info {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 25px;
}

.footer__img {
    width: 100px;
}

.footer__copyright {
    text-align: justify;
}

.vertical-line {
    margin: 17.5% 0;
    height: 65%;
    width: 1px;
    background-color: var(--darkColor60);
}

.horizontal-line {
    margin: 0 7.5%;
    height: 1px;
    width: 85%;
    background-color: var(--darkColor60);
}

.footer__extra {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12.5px;
}

@media screen AND (max-width: 1024px) {

    /* HEADER */ 

    #header { 
        padding: 0 7%;
    }

    .header__nav {
        position: fixed;
        z-index: 900;
        top: 100px;
        right: 25px;
        display: grid;
        grid-template-columns: 4px 1fr;
        grid-template-rows: min-content;
        height: 300px;
        width: 225px;
        font-family: 'Raleway';
        font-weight: 500;
        color: var(--darkColor);
        background-color: var(--lightColor20);
        border-radius: 10px;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
        scale: 0;
        overflow: hidden;
        transition: width .5s;
    }

    .swipeCenter {
        animation-name: swipeCenter;
        animation-duration: .75s;
        animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
        animation-fill-mode: forwards;
    }
    
    .swipeCenter-rvrs {
        animation-name: swipeCenter--reverse;
        animation-duration: .75s;
        animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
        animation-fill-mode: forwards;
    }

    .header__links {
        position: relative;
        left: -4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        order: 2;
    }

    .link-content {
        width: calc(100% + 4px);
        padding: 20px;
        padding-left: 24px;
    }

    .link-content__name {
        justify-content: space-between;
        width: 100%;
    }
    
    .header__indicator {
        grid-template-columns: 1fr;
        grid-template-rows: 20px 20px 20px 20px 20px;
        align-content: center;
        gap: 40px;
        order: 1;
        height: 100%;
        transition: grid-template-rows .5s;
    }

    .header__indicator--index0 {
        grid-template-columns: 1fr;
        grid-template-rows: 60px 20px 20px 20px 20px;
    }
    
    .header__indicator--index1 {
        grid-template-columns: 1fr;
        grid-template-rows: 20px 60px 20px 20px 20px;
    }
    
    .header__indicator--index2 {
        grid-template-columns: 1fr;
        grid-template-rows: 20px 20px 60px 20px 20px;
    }
    
    .header__indicator--index3 {
        grid-template-columns: 1fr;
        grid-template-rows: 20px 20px 20px 60px 20px;
    }

    .header__indicator--index4 {
        grid-template-columns: 1fr;
        grid-template-rows: 20px 20px 20px 20px 60px;
    }

    .barindicator {
        width: 100%;
        height: 0;
        background: transparent;
    }
    
    .indicator--active {
        height: 100%;
        border-radius: 0 5px 5px 0;
        background: var(--lightColor);
        transition: height .5s;
    }  

}

@media screen AND (max-width: 768px) {
    /* FOOTER */
    
    #footer {
        grid-template-columns: 1fr;
        grid-template-rows: 4fr 1px 1fr;
        gap: 25px;
        padding: 50px 7%;
    }
}

@media screen AND (max-width: 425px) {

    /* HEADER */
    .header__nav { 
        right: 7vw;
        grid-template-columns: 4px 1fr;
        width: calc(86vw);
    }

    /* FOOTER */
    .footer__info {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 25px;
    }
}