:root {
    --darkColor: #230E15;
    --darkColor80:#4F3E44;
    --darkColor60: #7B6E73;
    --darkColor40: #A79FA1;
    --darkColor20: #D3CFD0;
    --middleColor: #5B1B3D;
    --middleColor80: #7C4964;
    --middleColor60: #9D768B;
    --middleColor40: #BDA4B1;
    --middleColor20: #DED1D8;
    --lightColor: #A61B25;
    --lightColor80: #B84951;
    --lightColor60: #CA767C;
    --lightColor40: #DBA4A8;
    --lightColor20: #EDD1D3;
}

/* MAIN */

.content-section:first-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 400px;
    background-image: url('../img/filingPictureOne.jpg');
    background-size: cover;
    background-position-y: 55%;
    background-position-x: center;
}

.content-section:first-child img {
    margin-bottom: -1px;
}

.content-section:nth-child(2) {
    padding: 50px 7%;
}

.content-section__title {
    display: inline-flex;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--darkColor);
    font-family: 'Lato';
    font-weight: 700;
    font-size: 64px;
}

.content-section__news {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: max-content;
    justify-content: center;
    gap: 50px;
    padding: 50px 0;
    
}

.block-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 50px;
    border-radius: 10px;
    background: var(--middleColor20);
}

.block-news__type {
    display: flex;
    color: var(--middleColor);
    font-family: 'Lato';
    font-weight: 500;
    font-style: italic;
}

.block-news__title {
    font-size: 24px;
    font-family: 'Raleway';
    font-weight: 700;
}

.block-news__link {
    display: flex;
    align-self: flex-end;
    margin-top: 50px;
    font-family: 'Raleway';
    text-decoration: none;
}

@media screen AND (max-width: 1024px) {
    .content-section__news {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}